<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>End</title>
    <link rel="stylesheet" href="css/layui.css" media="all">
</head>

<body>
<h1 align="center">SUBMIT SUCCESSFULLY</h1>

<br>

    <div class="" align="center">
        <a href="/availability">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">Back</button>
        </a>
      <br><br>
        <a href="/">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">Logout</button>
        </a>
    </div>


<script src="js/layui.js" charset="utf-8"></script>
</body>
</html>