<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>End</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layui.css') }}" media="all">

</head>

<body>
<h1 align="center">SUBMIT SUCCESSFULLY</h1>

<br>

    <div class="" align="center">
        <a href="/availability_page">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">Back</button>
        </a>
      <br><br>
        <a href="/">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">Logout</button>
        </a>
    </div>


<script src="{{url_for('static', filename='scripts/postRequest.js') }}"></script>
</body>
</html>