<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Success</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/layui.css') }}" media="all">
</head>

<body>
<h1 align="center">SUBMIT SUCCESSFULLY</h1>

<br>

    <div class="" align="center">
        <a href="http://localhost:63342/DistributedDopingTest/templates/index.html?_ijt=2istcmr7ccnm6nm5rn96ns71cg">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-lg">Back</button>
        </a>
    </div>


<!-- <script src="js/layui.js" charset="utf-8"></script> -->
</body>
</html>